body{
    background-color: rgb(69, 59, 59);
}
.gun{
 display: flex;
 margin-right: 2px;
}
.box{
    background-color: lightgray;
    width: 414px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(135, 206, 250, 0.477);
}
.title{
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
    font-size: x-large;
}

.fileds{
 padding: 10px 20px; 
}
.fileds > label{
    width: 140px;
    display: inline-block;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    border: none;
    color: white; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 25px;
    transition-duration: 0.4s;
    cursor:pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }
  
  .btn1:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .btn {
    background-color: white; 
    color: black; 
    border: 2px solid #eb2132;
  }
  
  .btn:hover {
    background-color: #eb2132;
    color: white;
  }
  .Print{
    background-color: white; 
    color: black; 
    border: 2px solid #33e8e1d6;
    margin-left: 140px;
  }
  .Print:hover {
    background-color: #33e8e1d6;
    color: white;
  }
  img{
    height: 150px;
    width: auto;
    margin: 0px 90px 0px 90px;
  }
  .image:hover{
    zoom: 100px;
    cursor: zoom-in;
    transform: scale(1.1);
}
@media Print{
  .num1{
     display: none;
  }
  .num2{
    margin-top: 180px;
  }
  .Print{
    visibility: hidden;
  }
}
  